body {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: darkgray;
  position: relative;
}

#canvas {
  background-color: gray;
  width: 100vw;
  height: 100vh;
  display: block;
}

.controls {
  background-color: rgba(0.1, 0.1, 0.1, 0.1);
  backdrop-filter: blur(4px);
  z-index: 10;
  display: flex;
  font-size: 2em;
}

.controls input {
  width: 400px;
  size: 0;
}

fieldset[for="video"] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

select {
  font-size: 1.5em;
}
